html{
    background-color: rgb(226, 255, 254);
}

body{
    text-align: center;
}

.col {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.col div {
  text-align: center;
  border: 1px solid black;
}

#musicSearch{
  visibility: hidden;
  max-height: 0;
}

.musicDiv{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}

.musicDiv div{
  font-size: 10px;
  text-align: center;
  padding: 20px
}

.addToPlaylist{
  visibility: hidden;
  max-height: collapse;
}